.button {
  font-family: $roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $color-alice-blue;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &--light {
    min-width: 130px;
    margin-top: -5px;
    padding: 10px 16px 12px 17px;
    background-color: transparent;
    border: 1px solid $color-alice-blue;
  }

  &--promo {
    display: inline-block;
    max-width: 411px;
    margin-left: 1px;
    padding: 15px 28px 19px 26px;
    font-size: 18px;
    line-height: 21px;
    background-color: $color-deep-sky-blue;
  }

  &--contrast {
    min-width: 180px;
    margin-left: 1px;
    padding: 13px 13px 12px 12px;
    color: $color-deep-sky-blue;
    background-color: transparent;
    border: 1px solid $color-deep-sky-blue;
  }
}

.button--promo span {
  &:first-child {
    display: block;
  }

  &:last-child {
    display: none;
  }
}

.button--light:hover,
.button--light:focus {
  color: $color-deep-sky-blue;
  border-color: $color-deep-sky-blue;
  opacity: 0.8;
}

.button--light:active {
  color: $color-deep-sky-blue;
  border-color: $color-deep-sky-blue;
  opacity: 0.6;
}

.button--promo:hover,
.button--promo:focus {
  background-color: $color-alice-blue;
  color: $color-deep-sky-blue;
}

.button--promo:active {
  background-color: $color-alice-blue;
  color: $color-deep-sky-blue;
  opacity: 0.8;
}

.button--contrast:hover,
.button--contrast:focus {
  background-color: $color-deep-sky-blue;
  color: $color-alice-blue;
}

.button--contrast:active {
  background-color: $color-deep-sky-blue;
  color: $color-alice-blue;
  opacity: 0.6;
}

@include vp-1023 {
  .button--promo {
    margin-left: 46px;
    padding: 16px 28px 20px 26px;
  }

  .button--contrast {
    margin-left: 0;
  }
}

@include vp-767 {
  .button--promo {
    display: block;
    margin-left: 0;
    padding: 14px 30px 11px;
    font-size: 14px;
    line-height: 16px;
  }

  .button--promo span {
    &:first-child {
      display: none;
    }

    &:last-child {
      display: block;
    }
  }

  .button--contrast {
    min-width: 160px;
    padding: 9px 10px 9px 10px;
  }
}
