.button {
  font-family: $roboto-condensed;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: $color-alice-blue;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.05em;
  cursor: pointer;

  &--light {
    min-width: 130px;
    margin-top: -5px;
    padding: 10px 16px 12px 17px;
    background-color: transparent;
    border: 1px solid $color-alice-blue;
    border-radius: 3px;
  }
}

.button--light:hover,
.button--light:focus {
  color: $color-deep-sky-blue;
  border-color: $color-deep-sky-blue;
  opacity: 0.8;
}

.button--light:active {
  color: $color-deep-sky-blue;
  border-color: $color-deep-sky-blue;
  opacity: 0.6;
}
