.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px 0 35px;
  background: $black-pearl-top-to-bottom;
  z-index: 1;
}

.main-header__container {
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header__logo {
  margin-right: 30px;
}

.main-header__logo-link:hover,
.main-header__logo-link:focus {
  opacity: 0.8;
}

.main-header__logo-link:active {
  opacity: 0.6;
}

.main-header__contacts {
  margin-right: 33px;
  padding: 15px 0 20px;
}

.main-header__button {
  margin-right: 60px;
}

@include vp-1023 {
  .main-header {
    position: absolute;
    padding: 20px 0 25px;
  }

  .main-header__container {
    padding: 0 50px;
  }

  .main-header__contacts {
    margin-right: 20px;
    padding: 0 0 15px;
  }

  .main-header__button {
    display: none;
  }
}

@include vp-767 {
  .main-header {
    padding: 13px 0 20px;
  }

  .main-header__container {
    padding: 0 25px;
    align-items: flex-start;
  }

  .main-header__logo {
    margin-left: 1px;
  }

  .main-header__contacts {
    margin-right: 10px;
    // padding: 0 0 15px;
    padding: 0;
  }
}
