.navigation {
  max-width: 470px;
  margin-right: 17px;
}

.navigation h2 {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-family: $roboto-condensed;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-default-white;
}

.navigation__toggle {
  display: none;
}

.navigation__list {
  column-count: 2;
  column-gap: 47px;
  margin: 0;
  margin-left: 2px;
  padding: 0;
  list-style-type: none;

  &::after {
    content: "";
    width: 100%;
    height: 25px;
    display: list-item;
  }
}

.navigation__item {
  margin-bottom: 10px;

  &--production {
    margin-bottom: 7px;
  }
}

.navigation__link {
  line-height: 135%;
  color: $color-default-white;
  opacity: 0.7;

  &:hover,
  &:focus {
    color: $color-deep-sky-blue;
    opacity: 0.8;
  }

  &:active {
    color: $color-deep-sky-blue;
    opacity: 0.6;
  }
}

@include vp-1023 {
  .navigation {
    max-width: 220px;
  }

  .navigation__list {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .navigation__item {
    margin-bottom: 9px;

    &--production {
      margin-bottom: 7px;
    }

    &--accessories {
      margin-bottom: 7px;
    }
  }
}

@include vp-767 {
  .navigation {
    position: relative;
    max-width: 100%;
    margin: 0;
    padding: 0 25px;
    border-top: 1px solid $color-alice-blue;
  }

  .navigation h2 {
    margin-bottom: 0;
    padding: 23px 0 20px;
  }

  .navigation__toggle {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 60px;
    background-color: transparent;
    border: none;

    &::before {
      content: "";
      position: absolute;
      top: 46%;
      right: 26px;
      width: 15px;
      height: 1px;
      background-color: $color-alice-blue;
    }

    &::after {
      content: "";
      position: absolute;
      top: 46%;
      right: 33px;
      width: 1px;
      height: 15px;
      background-color: $color-alice-blue;
      transform: translateY(-50%);
    }
  }

  .navigation__toggle:hover::before,
  .navigation__toggle:hover::after,
  .navigation__toggle:focus::before,
  .navigation__toggle:focus::after {
    background-color: $color-deep-sky-blue;
    opacity: 0.8;
  }

  .navigation__toggle:active::before,
  .navigation__toggle:active::after {
    background-color: $color-deep-sky-blue;
    opacity: 0.6;
  }

  .navigation.is-active .navigation__toggle::after {
    opacity: 0;
  }

  .navigation__item:last-child {
    margin-bottom: 10px;
  }

  .navigation__item--production br {
    display: none;
  }

  .navigation__link {
    font-size: 14px;
  }
}
